= form_for @character, :html => {:class => "form-horizontal"}do |f|
  = f.text_field :name
  %br
  = f.select(:race, [['Elf']])
  %br
  = f.select(:primary_role, [['Fighter']])
  %br
  = f.submit 'Save'
