%p We're Almost Done!


= form_for @character, url: wizard_path, html: { class: "", id: "info_fields"}do |f|
  = f.label "Name"
  = f.text_field :name
  = f.label "Description of your character."
  = f.text_area :description
  %br
  = f.submit "See Your Character!"
